[MESSAGES CONTROL]

disable=
    too-many-instance-attributes,
    too-many-locals,
    too-many-arguments,
    broad-exception-caught,
    fixme,
    logging-fstring-interpolation,
    too-many-branches,
    import-error,
    too-many-statements,
    too-many-nested-blocks,
    import-outside-toplevel,
    no-member,
    duplicate-code,
    too-few-public-methods,
    line-too-long
